
/* ==UserStyle==
@name           Trade Tag Highlight
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Tag based highlighting for trade2, based on highlighting in compact view but extended to many more stats
@author         Kvan7
@updateURL https://gist.github.com/Kvan7/8df022ba53df4909ad797fab52e2d982#file-userstyle-user-css
==/UserStyle== */

@-moz-document url-prefix("https://www.pathofexile.com/trade2")
{
/*  */
#trade .results.compact .explicitMod > .lc.s,
#trade .results.compact .implicitMod > .lc.s,
#trade .results.compact .utilityMod > .lc.s {
    color: #e8dfe2
}

/* ultimatum related */
#trade .results.compact .ultimatumMods {
    display: none
}

/* lightning */
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1011760251"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3336890334"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3111921451"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3835522656"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1754445556"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1147690586"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2604619892"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4256314560"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3093465148"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1545858329"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1078455967"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2854751904"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3258071686"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2109189637"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2970621759"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_321970274"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_425242359"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1289045485"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_818778753"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2315177528"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2418601510"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_65133983"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1546580830"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3801067695"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1671376347"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2901986750"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2134207902"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3465022881"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2949096603"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_99927264"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2466011626"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2889664727"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1011772129"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3246948616"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3550887155"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4224965099"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3999959974"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3278136794"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2231156303"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2527686725"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3668351662"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_215346464"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3694078435"] {
	color: #adaa47;
}

/* cold */
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3417711605"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2973498992"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3679418014"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1261612903"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2254480358"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1375667591"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1078455967"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1138708335"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3485067555"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2955966707"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3291658075"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2089152298"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3676141501"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1037193709"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1478653032"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3393628375"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4220027924"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2160282525"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1874553720"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1291285202"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3201111383"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1011772129"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2505884597"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_828179689"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2306924373"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3612464552"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1158842087"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2604619892"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3743375737"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2420248029"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1740229525"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2347036682"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1484500028"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1073942215"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_331648983"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1515531208"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1717295693"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2901986750"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4067062424"] {
	color: #3f6db3;
}

/* fire */
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_38301299"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_724806967"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2653955271"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1261612903"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_986397080"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_378817135"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4095671657"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2949096603"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2356156926"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_599749213"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1078455967"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_331648983"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4287372938"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1573130764"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2901986750"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_709508406"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2173791158"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3398283493"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_849987426"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1049080093"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2518598473"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1269971728"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3372524247"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3588388638"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_591105508"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1742651309"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3205239847"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2714810050"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3015669065"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3962278098"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_42242677"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2604619892"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1993950627"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1086147743"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_947072590"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_701564564"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_287294012"] {
	color: #b97123;
}

/* chaos */
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3164544692"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_736967255"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4226189338"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_67169579"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4250009622"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3885634897"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1493211587"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3954735777"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1563503803"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_261503687"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3835551335"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_262946222"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4258251165"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3835551335"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2439129490"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2418601510"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1224838456"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_62849030"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2315177528"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2973498992"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1175213674"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4129825612"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1772929282"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1776945532"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3393628375"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1910039112"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2923486259"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1301765461"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3465022881"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_378817135"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_674553446"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2223678961"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2678930256"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3973629633"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2109189637"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3837707023"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3398787959"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3301100256"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2011656677"] {
	color: #ad47ad;
}

/* mana */
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_458438597"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_472520716"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_707457662"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3407300125"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2839066308"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_669069897"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1659564104"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3045154261"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2678930256"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2748665614"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1368271171"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_514290151"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2122183138"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4101445926"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2310741722"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1261982764"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1412217137"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2222186378"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_789117908"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1811130680"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3396435291"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1327522346"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4187571952"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3308030688"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1850249186"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_820939409"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2801937280"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_474294393"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2157692677"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1604736568"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1030153674"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2991045011"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1458880585"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1914226331"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1050105434"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2650053239"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1120862500"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3969608626"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3891350097"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1002973905"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4121454694"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_959641748"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_648019518"] {
	color: #4e9dd1;
}

/* life */
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3325883026"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_762600725"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_854225133"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_51994685"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1261982764"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_310945763"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3240073117"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_821241191"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2310741722"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_44972811"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2116424886"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1811130680"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_332217711"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3491815140"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_344174146"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2458962764"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_983749596"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1633735772"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2678930256"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1726753705"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1173537953"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_686254215"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_770672621"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2479683456"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3314050176"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_825825364"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1306791873"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_55876295"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1570501432"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2557965901"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2416869319"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_821021828"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3679418014"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2970621759"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1742651309"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_458438597"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1444556985"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_472520716"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_959641748"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_648019518"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_613752285"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2002533190"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_836936635"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3161573445"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4033618138"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1990472846"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2023107756"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1781372024"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3299347043"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1920747151"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2365392475"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2442647190"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3081479811"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_4010677958"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3175722882"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2801937280"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3544050945"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3695891184"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2797971005"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3841984913"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2932359713"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2432200638"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_1805182458"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2480498143"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2716923832"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_3942946753"], 
#trade .results.compact .explicitMod>.lc.s[data-field="stat.explicit.stat_2035336006"] {
	color: #d14e4e;
}


}